{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <!-- intro-main -->
        <section class="intro-main" id="intro-main">
            <h1 class="title" style="position: absolute; opacity: 0; visibility: hidden;"></h1>
            <div class="swiper intro-main__slider">
                <div class="swiper-wrapper">
                    {% for product in products %}
                        {% for items in product.product.all %}
                            <div class="swiper-slide intro-main__slide"
                                 style="background-image: url('{{ items.image.url }}');">
                                <div class="container intro-main__container">
                                    <div class="intro-main__title">{{ items.name }}</div>
                                    <p class="intro-main__descr">
                                        {{ items.text_title }}
                                    </p>
                                    <a href="{{ product.get_absolute_url }}" class="intro-main__btn btn">подробнее</a>
                                </div>
                                <div class="bg-linear"></div>
                                <div class="bg-linear1"></div>
                            </div><!-- /slide -->
                        {% endfor %}
                    {% endfor %}
                    {#                    <div class="swiper-slide intro-main__slide"#}
                    {#                         style="background-image: url('img/intro/intro-main1.png');">#}
                    {#                        <div class="container intro-main__container">#}
                    {#                            <div class="intro-main__title">Название прибора 2</div>#}
                    {#                            <p class="intro-main__descr">#}
                    {#                                Краткое описание прибора на две или максимум три строки 2#}
                    {#                            </p>#}
                    {#                            <a href="single-product.html" class="intro-main__btn btn">подробнее</a>#}
                    {#                        </div>#}
                    {#                        <div class="bg-linear"></div>#}
                    {#                        <div class="bg-linear1"></div>#}
                    {#                    </div><!-- /slide -->#}
                    {#                    <div class="swiper-slide intro-main__slide"#}
                    {#                         style="background-image: url('img/intro/intro-main.png');">#}
                    {#                        <div class="container intro-main__container">#}
                    {#                            <div class="intro-main__title">Название прибора</div>#}
                    {#                            <p class="intro-main__descr">#}
                    {#                                Краткое описание прибора на две или максимум три строки#}
                    {#                            </p>#}
                    {#                            <a href="single-product.html" class="intro-main__btn btn">подробнее</a>#}
                    {#                        </div>#}
                    {#                        <div class="bg-linear"></div>#}
                    {#                        <div class="bg-linear1"></div>#}
                    {#                    </div><!-- /slide -->#}
                    {#                    <div class="swiper-slide intro-main__slide"#}
                    {#                         style="background-image: url('img/intro/intro-main1.png');">#}
                    {#                        <div class="container intro-main__container">#}
                    {#                            <div class="intro-main__title">Название прибора 2</div>#}
                    {#                            <p class="intro-main__descr">#}
                    {#                                Краткое описание прибора на две или максимум три строки 2#}
                    {#                            </p>#}
                    {#                            <a href="single-product.html" class="intro-main__btn btn">подробнее</a>#}
                    {#                        </div>#}
                    {#                        <div class="bg-linear"></div>#}
                    {#                        <div class="bg-linear1"></div>#}
                    {#                    </div><!-- /slide -->#}
                </div>
            </div><!-- /slider -->

            <div class="navi-pagi">
                <div class="container navi-pagi__container">
                    <button class="intro-main__arrow intro-main__arrow-prev">
                        <img src="{% static 'img/icons/slider-arrow-left.svg' %}" alt="icon">
                    </button>
                    <div class="pagination">

                    </div>
                    <button class="intro-main__arrow intro-main__arrow-next">
                        <img src="{% static 'img/icons/slider-arrow-right.svg' %}" alt="icon">
                    </button>
                </div>
            </div>
            <div class="intro-main__bar">
                <div class="container intro-main__bar-container">
                    <div class="intro-main__bar-date">13 мая – 15 мая 2022</div>
                    <p class="intro-main__bar-descr">
                        Интерактивные прототипы призывают нас к новым свершениям ...
                    </p>
                    <button class="btn-reset btn intro-main__bar-btn" data-graph-path="modal-call">участвовать</button>

                </div>
            </div>
        </section>
        <!-- advantages -->
        <section class="advantages" id="advantages">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-3 advantages__item-wrapper">
                        <div class="advantages__item first">
                            <div class="advantages__item-title">профессиональное оборудование</div>
                            <p class="advantages__item-descr">
                                Краткое описание преимущества на 2 строки
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 advantages__item-wrapper">
                        <div class="advantages__item second">
                            <div class="advantages__item-title">техническая поддержка</div>
                            <p class="advantages__item-descr">
                                Краткое описание преимущества на 2 строки
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 advantages__item-wrapper">
                        <div class="advantages__item third">
                            <div class="advantages__item-title">маркетинговые материалы</div>
                            <p class="advantages__item-descr">
                                Краткое описание преимущества на 2 строки
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 advantages__item-wrapper">
                        <div class="advantages__item forth">
                            <div class="advantages__item-title">обучение персонала</div>
                            <p class="advantages__item-descr">
                                Краткое описание преимущества на 2 строки
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- /container -->
        </section>
        <!-- catalog-main -->
        <section class="catalog-main" id="catalog-main">
            <div class="container">
                <div class="row">
                    {% for product in products|slice:":3" %}
                        <div class="col-lg-4">
                            <div class="catalog-main__card" style="background-image: url('{{ product.image.url }}');">
                                <div class="catalog-main__card-bottom">
                                    <div class="catalog-main__card-title">{{ product.name }}</div>
                                    <p class="catalog-main__card-descr">
                                        {{ product.text_title }}
                                    </p>
                                    <a class="catalog-main__card-btn btn-more" href="{{ product.get_absolute_url }}">подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for product in products|slice:"3:4" %}
                        <div class="col-lg-8">
                            <div class="catalog-main__card-lg">
                                <div class="catalog-main__card-left">
                                    <div class="catalog-main__card-title">{{ product.name }}</div>
                                    <p class="catalog-main__card-descr">
                                        Преимущество оборудование или какое-то описание на несколько строк.
                                        Непосредственные
                                        участники
                                        технического прогресса набирают популярность среди определенных слоев населения,
                                        а
                                        значит, должны быть
                                        подвергнуты целой серии независимых исследований.
                                    </p>
                                    <a class="catalog-main__card-btn btn-more" href="{{ product.get_absolute_url }}">подробнее</a>
                                </div>
                                <div class="catalog-main__card-right">
                                    <img src="{{ product.image.url }}" alt="image">
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="col-lg-4">
                        <div class="catalog-main__card-order"
                             style="background-image: url('{% static "img/catalog/catalog-order.png" %}');">
                            <div class="catalog-main__card-bottom">
                                <div class="catalog-main__card-order-wrapper">
                                    <div class="catalog-main__card-order-title">Запросить коммерческое предложение</div>
                                    <div class="btn-reset catalog-main__card-order-btn"
                                         data-graph-path="modal-commerce">
                                        <img src="{% static 'img/icons/arrows.svg' %}" alt="arrows">
                                    </div>
                                    <button class="btn-reset btn-full" data-graph-path="modal-commerce"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products|slice:"4:7" %}
                        <div class="col-lg-4">
                            <div class="catalog-main__card" style="background-image: url('{{ product.image.url }}');">
                                <div class="catalog-main__card-bottom">
                                    <div class="catalog-main__card-title">{{ product.name }}</div>
                                    <p class="catalog-main__card-descr">
                                        {{ product.text_title }}
                                    </p>
                                    <a class="catalog-main__card-btn btn-more" href="{{ product.get_absolute_url }}">подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col">
                        <a class="catalog-main__btn btn" href="{% url 'catalog' %}">перейти в каталог</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- helping -->
        <section class="helping" id="helping" style="background-image: url('img/helping/helping.jpg');">
            <div class="container helping__container">
                <h2 class="helping__title">
                    <span>Затрудняетесь с выбором?</span><br>
                    Мы поможем!
                </h2>
                <p class="helping__descr">
                    Ответьте на несколько вопросов, это займёт не более минуты
                </p>
                <button class="btn-reset helping__btn btn" data-graph-path="modal-call">начать</button>
            </div>
            <div class="bg-linear"></div>
            <div class="bg-linear1"></div>
        </section>
        <!-- events-main -->
        <section class="events-main" id="events-main">
            <div class="container events-main__container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="events-main__title section-title">
                            Мероприятия
                        </h2>
                        <p class="events-main__descr">
                            Разнообразный и богатый опыт говорит нам, что начало повседневной работы по формированию
                            позиции является
                            качественно новой ступенью приоритизации разума над эмоциями. Приятно, граждане, наблюдать,
                            как активно
                            развивающиеся страны третьего мира освещают чрезвычайно интересные особенности картины в
                            целом, однако
                            конкретные выводы, разумеется, указаны как претенденты на роль ключевых факторов.
                        </p>
                        <button class="btn-reset events-main__card-btn btn-more" data-graph-path="modal-call">
                            подробнее
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <div class="events-main__card">
                            <div class="events-main__card-title">
                                Ближайшее мероприятие:
                            </div>
                            <div class="events-main__card-subtitle">
                                Название ближайшего мероприятия
                            </div>
                            <div class="events-main__card-date">
                                10 мая 2022
                            </div>
                            <div class="events-main__card-time">
                                12:00-15:00
                            </div>
                            <p class="events-main__card-descr">
                                В рамках спецификации современных стандартов, интерактивные прототипы призывают нас к
                                новым свершениям,
                                которые, в свою очередь, должны быть описаны максимально подробно.
                            </p>
                            <button class="btn-reset events-main__card-btn btn-more" data-graph-path="modal-call">
                                подробнее
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-main -->
        <section class="about-main" id="about-main">
            <div class="container about-main__container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="about-main__title section-title">
                            О компании
                        </h2>
                        <p class="about-main__descr events-main__descr">
                            Разнообразный и богатый опыт говорит нам, что начало повседневной работы по формированию
                            позиции является
                            качественно новой ступенью приоритизации разума над эмоциями. Приятно, граждане, наблюдать,
                            как активно
                            развивающиеся страны третьего мира освещают чрезвычайно интересные особенности картины в
                            целом, однако
                            конкретные выводы, разумеется, указаны как претенденты на роль ключевых факторов.
                        </p>
                        <h3 class="about-main__subtitle">
                            Опыт
                        </h3>
                        <ul class="about-main__list">
                            <li>
                                В рамках спецификации современных стандартов
                            </li>
                            <li>
                                Интерактивные прототипы призывают нас к новым свершениям
                            </li>
                            <li>
                                Должны быть описаны максимально подробно
                            </li>
                            <li>
                                В рамках спецификации современных стандартов
                            </li>
                            <li>
                                Интерактивные прототипы призывают нас к новым свершениям
                            </li>
                            <li>
                                Должны быть описаны максимально подробно
                            </li>
                        </ul>
                        <a href="about.html" class="about-main__btn btn-more">Подробнее</a>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-main__card">
                            <div class="about-main__card-title">
                                Адрес эксклюзивного представительства:
                            </div>
                            <div class="about-main__card-city">
                                г.Иркутск, <br>ул. Улица, 123, оф. 456
                            </div>
                            <a href="contacts.html" class="about-main__card-btn btn">
                                контакты
                            </a>
                        </div>
                        <div class="about-main__card">
                            <div class="about-main__card-title about-main__card-title_second">
                                Клиники с нашим оборудованием:
                            </div>
                            <div class="swiper about-main__card-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide about-main__card-slide">
                                        <div class="about-main__card-slide-img">
                                            <img src="{% static 'img/about/about-logo.png' %}" alt="partner-logo">
                                        </div>
                                    </div>
                                    <div class="swiper-slide about-main__card-slide">
                                        <div class="about-main__card-slide-img">
                                            <img src="{% static 'img/about/about-logo1.png' %}" alt="partner-logo">
                                        </div>
                                    </div>
                                    <div class="swiper-slide about-main__card-slide">
                                        <div class="about-main__card-slide-img">
                                            <img src="{% static 'img/about/about-logo.png' %}" alt="partner-logo">
                                        </div>
                                    </div>
                                    <div class="swiper-slide about-main__card-slide">
                                        <div class="about-main__card-slide-img">
                                            <img src="{% static 'img/about/about-logo1.png' %}" alt="partner-logo">
                                        </div>
                                    </div>
                                </div>
                                <div class="navi-pagi">
                                    <div class="container navi-pagi__container">
                                        <button class="about-main__arrow about-main__arrow-prev">
                                            <img src="{% static 'img/icons/slider-arrow-left-sm.svg' %}" alt="icon">
                                        </button>
                                        <div class="pagination">

                                        </div>
                                        <button class="about-main__arrow about-main__arrow-next">
                                            <img src="{% static 'img/icons/slider-arrow-right-sm.svg' %}" alt="icon">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="partners.html" class="about-main__card-btn btn">
                                партнеры
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- articles-main -->
        <section class="articles-main" id="articles-main">
            <div class="container">
                <h2 class="articles-main__title section-title">
                    Новости, акции, публикации
                </h2>
                <ul class="articles-main__list d-none d-md-grid">
                    <li class="articles-main__item">
                        <div class="articles-main__item-img"
                             style="background-image: url('img/articles/articles-main1.png');"></div>
                        <p class="articles-main__item-descr">
                            Интерактивные прототипы призывают нас к новым свершениям
                        </p>
                        <a href="article.html"></a>
                    </li>
                    <li class="articles-main__item">
                        <div class="articles-main__item-img"
                             style="background-image: url('img/articles/articles-main2.png');"></div>
                        <p class="articles-main__item-descr">
                            Интерактивные прототипы призывают нас к новым свершениям
                        </p>
                        <a href="article.html"></a>
                    </li>
                    <li class="articles-main__item">
                        <div class="articles-main__item-img"
                             style="background-image: url('img/articles/articles-main3.png');"></div>
                        <p class="articles-main__item-descr">
                            Интерактивные прототипы призывают нас к новым свершениям
                        </p>
                        <a href="article.html"></a>
                    </li>
                </ul>
                <div class="swiper articles-main__slider d-block d-md-none">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide articles-main__slide">
                            <div class="articles-main__item-img"
                                 style="background-image: url('img/articles/articles-main1.png');"></div>
                            <p class="articles-main__item-descr">
                                Интерактивные прототипы призывают нас к новым свершениям
                            </p>
                            <a href="article.html"></a>
                        </div>
                        <div class="swiper-slide articles-main__slide">
                            <div class="articles-main__item-img"
                                 style="background-image: url('img/articles/articles-main1.png');"></div>
                            <p class="articles-main__item-descr">
                                Интерактивные прототипы призывают нас к новым свершениям
                            </p>
                            <a href="article.html"></a>
                        </div>
                        <div class="swiper-slide articles-main__slide">
                            <div class="articles-main__item-img"
                                 style="background-image: url('img/articles/articles-main1.png');"></div>
                            <p class="articles-main__item-descr">
                                Интерактивные прототипы призывают нас к новым свершениям
                            </p>
                            <a href="article.html"></a>
                        </div>
                    </div>
                </div>
                <a href="archives.html" class="articles-main__btn btn">Все публикации</a>
            </div>
        </section>
    </main>

{% endblock %}